@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(130deg, #800080, rgb(51, 23, 135));
    color: rgb(255, 255, 255);
    height: 100%;
    
}

.container{
    min-width: 280px;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p-form{
    color: rgb(0, 0, 0);
}
input{
    margin-bottom: 12px;
    margin-top: 5px;
    padding: 3px 15px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: none;
    
}


.form-container{
    border-radius: 3%;
    border: 1px solid black;
    background-color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    margin: 50px auto 100px auto;
}

button{
    display: block;
    padding: 5px 30px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: none;
}

#center-button{
    display: block;
    margin: 25px auto;
}

.dados-container{
    border-radius: 3%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    
}