@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(130deg, #a801a8, rgb(55, 25, 148));
    color: rgb(255, 255, 255);
    height: auto;
    
}

#titulo{
    margin-top: 30px;
    font-size: 48px;
}
.container{
    min-width: 280px;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p-form{
    color: rgb(0, 0, 0);
}

input{
    
    margin-bottom: 12px;
    margin-top: 5px;
    padding: 3px 15px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: none;
    text-indent: 1px;
    
}


.form-container{
    border-radius: 3%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 50px auto;
    width: 350px;
}

.form-container-2{
    margin-top: 50px;
    margin-bottom: 30px;
}

button{
    display: block;
    padding: 5px 30px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: none;
}

#center-button{
    display: block;
    margin: 25px auto;
}

.dadoscontainer{
    color: black;
    border-radius: 3%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 50px auto 20px auto;
    width: 350px;
    padding: 8px;
    
}

.dadoscontainer p{
    line-height: 25px;
}

.dadoscontainer .yes {
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center; 
}


